/* COLORS 
https://colorhunt.co/palette/1c0a00361500603601cc9544
Very dark (mostly black) orange: #1C0A00
Very dark orange: #361500
Dark orange: #603601
Moderate orange: #CC9544
Whitesmoke: #F5F5F5
*/

/* Google Fonts *************************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&display=swap');

/* CSS Reset *********************************/
body,
nav,
main,
section,
footer,
article,
form,
button,
textarea,
button,
input,
h1,
h2,
h3,
p,
a,
time,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}

/* Typography Defaults ********************/
html {
	font-size: 62.5%;
}

body {
	background-color: #1C0A00;
	color: #F5F5F5;
	font: 1.8rem/2 'Cairo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bebas Neue', cursive;
    color: #CC9544;
}

h1 {
	font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

a,
button {
	cursor: pointer;
}

/* Default Structure **************************/
.wrapper {
	margin: 0 auto;
	width: 120rem;
}

/***HEADER******************************************/
header {
    background-color: #361500;
}
/***MAIN********************************************/
/* main{

} */

input{
    color: #1C0A00;
    border: .2rem solid #CC9544;
    border-radius: 2rem;
    padding: .3rem 0 .3rem 1rem;
}


table {
    border-collapse: collapse;
    /* width: 50%;
    height: 50%; */
    margin: 5rem auto;
    background-color: #CC9544;
}

table, th, td {
    border: .2rem solid #603601;
    padding: .5rem;
}

th {
    font-size: 3rem;
}

td {
    font-size: 2.5rem;
    color: #1C0A00;
    text-align: center;
}


#button{
background-color: #1C0A00;
}

.myButton{
    color: #CC9544;
    background-color: #361500;
    border: .2rem solid #F5F5F5;
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.myButton:hover{
    color: #361500;
    background-color: #CC9544;
}


/***FOOTER******************************************/
footer {
    position: fixed;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: #603601;
    color: white;
    text-align: center;
 }

 footer p{
    font-size: 1.4rem;    
    color: #1C0A00;
 }

 footer p:hover {
    color: #CC9544;
 }