/* COLORS 
https://colorhunt.co/palette/3a3845f7ccacc69b7b826f66
#3A3845 : Very dark grayish blue.
#F7CCAC : Very soft orange.
#C69B7B : Slightly desaturated orange.
#826F66 : Dark grayish orange.
*/

/* Google Fonts *************************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&display=swap');

/* CSS Reset *********************************/
body,
nav,
main,
section,
footer,
article,
form,
button,
textarea,
button,
input,
h1,
h2,
h3,
p,
a,
time,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}

/* Typography Defaults ********************/
html {
    font-size: 62.5%;
}

body {
    color: #3A3845;
    font: 1.8rem/2 'Cairo', sans-serif;
    background-color: #F7CCAC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
    color: #826F66;
}

h1 {
    font-size: 12rem;
    color: #F7CCAC;
}

h2 {
    font-size: 4rem;
}

a,
button {
    cursor: pointer;
}

/* Default Structure **************************/
.wrapper {
    margin: 0 auto;
    width: 120rem;
}

/* CLEAR FLOATS =============================================================== */
/* Clear The Floats */
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

/***HEADER******************************************/
header {
    height: 20rem;
    background-color: #3A3845;
}

/***MAIN********************************************/
main section:nth-of-type(1) {
    margin: 3rem 0;
}



#form {
    float: left;
    border: .2rem solid #064635;
    border-radius: .5rem;
    background-color: #519259;
    padding: 2rem;
    width: 30rem;
}

input[type=text],
input[type=number],
select {
    color: #519259;
    background-color: #E6E8EC;
    border: .2rem solid #F7CCAC;
    border-radius: 2rem;
    padding: .3rem 0 .3rem 1rem;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.btn {
    color: #F0BB62;
    background-color: #064635;
    border: .2rem solid #F0BB62;
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 2rem 5rem 1rem 0;
    text-transform: uppercase;
}

.btn:hover {
    color: #064635;
    background-color: #F0BB62;
}

table {
    border-collapse: collapse;
    /* width: 50%;
    height: 50%; */
    margin: 5rem auto;
    background-color: #F0BB62;
}

table,
th,
td {
    border: .2rem solid #519259;
    padding: .2rem 1rem;
}

th {
    font-size: 2rem;
    width: calc(100%/6);
}

td {
    font-size: 2.5rem;
    color: #064635;
    text-align: center;
    background-color: #F4EEA9;
}

/* Canvas ******************************************/
#canvas-section {
    float: right;
    border: .2rem solid #064635;
    border-radius: .5rem;
    background-color: #519259;
    padding: 2rem;
    width: 64rem;
}

#canvas-section h2 {
    color: #F7CCAC;
}

canvas {
    background-color: #E6E8EC;
    border-radius: 1rem;
    border: .2rem solid #F7CCAC;
}

/***FOOTER******************************************/
footer {
    bottom: 0;
    width: 100%;
    background-color: #826F66;
    text-align: center;
    margin: 50rem 0 0 0;
}

footer p {
    font-size: 1.4rem;
    color: #C69B7B;
}

footer p:hover {
    color: #F7CCAC;
}