/* COLORS 
https://colorhunt.co/palette/1c0a00361500603601cc9544
Very dark (mostly black) orange: #1C0A00
Very dark orange: #361500
Dark orange: #603601
Moderate orange: #CC9544
Whitesmoke: #F5F5F5
*/

/* Google Fonts *************************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&display=swap');

/* CSS Reset *********************************/
body,
nav,
main,
section,
footer,
article,
form,
button,
textarea,
button,
input,
h1,
h2,
h3,
p,
a,
time,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}

/* Typography Defaults ********************/
html {
    font-size: 62.5%;
}

body {
    background-color: #1C0A00;
    color: #F5F5F5;
    font: 1.8rem/2 'Cairo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
    color: #CC9544;
}

h1 {
    font-size: 12rem;
}

h2 {
    font-size: 4rem;
}

a,
button {
    cursor: pointer;
}

/* Default Structure **************************/
.wrapper {
    margin: 0 auto;
    width: 120rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/***HEADER******************************************/
header {
    height: 25rem;
    background-color: #361500;
}

/***MAIN********************************************/
main{
    padding: 5rem 0;
}


/***FOOTER******************************************/
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;  /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  /* Footer height */
    background-color: #603601;
    color: white;
    text-align: center;
    margin: 50rem 0 0 0;
}

footer p {
    font-size: 1.4rem;
    color: #1C0A00;
}

footer p:hover {
    color: #CC9544;
}