/* COLORS 
https://colorhunt.co/palette/630606890f0de83a14d9ce3f
#630606 : Very dark red
#890F0D : Dark red
#E83A14 : Vivid red
#D9CE3F : Bright yellow
*/

/* Google Fonts *************************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&display=swap');

/* CSS Reset *********************************/
body,
nav,
main,
section,
footer,
article,
form,
button,
textarea,
button,
input,
h1,
h2,
h3,
p,
a,
time,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}

/* Typography Defaults ********************/
html {
    font-size: 62.5%;
}

body {
    color: #630606;
    font: 1.8rem/2 'Cairo', sans-serif;
    background-color: #630606;
    background: #D9CE3F url(../images/background.png) no-repeat fixed center;
    /* Photo by Lukas from Pexels - Gray Dumbbell Beside Wall */
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
    color: #630606;
}

h1 {
    font-size: 12rem;
    color: #D9CE3F;
}

h2 {
    font-size: 4rem;
}

a,
button {
    cursor: pointer;
}

/* Default Structure **************************/
.wrapper {
    margin: 0 auto;
    width: 120rem;
}

/***HEADER******************************************/
header {
    height: 20rem;
    background-color: #890F0D;
    /* text-align: center; */
}

/***MAIN********************************************/
/* targetting the first section */
main section:nth-of-type(1) {
    margin: 3rem 0;
}

/* centering the h2 & p elements */
main section:nth-of-type(1) h2,
p {
    text-align: center;
}

main section:nth-of-type(1) p {
    max-width: 60rem;
    margin: 0 auto;
}


#form-div {
    border: .2rem solid #D9CE3F;
    border-radius: .5rem;
    background-color: #890F0D;
    padding: 2rem;
    width: 50%;
    margin: 3rem auto 0;
    color: #D9CE3F;
}

input[type=text],
input[type=number],
select {
    color: #519259;
    border: .2rem solid #E83A14;
    border-radius: 2rem;
    padding: .3rem 0 .3rem 1rem;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.8rem;
}



/* ::placeholder {
    color: #E83A14;
} */

.btn {
    color: #D9CE3F;
    background-color: #630606;
    border: .2rem solid #E83A14;
    width: 17.5rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 2rem 5rem 1rem 0;
    text-transform: uppercase;
}

.btn:hover {
    color: #D9CE3F;
    background-color: #E83A14;
}

table {
    border-collapse: collapse;
    /* width: 50%;
    height: 50%; */
    margin: 5rem auto;
    background-color: #D9CE3F;
}

table,
th,
td {
    border: .2rem solid #E83A14;
    padding: .2rem 1rem;
}

th {
    font-size: 2rem;
    width: calc(100%/6);
}

td {
    font-size: 2.5rem;
    color: #064635;
    text-align: center;
    background-color: #D9CE3F;
}

/***FOOTER******************************************/
footer {
    bottom: 0;
    width: 100%;
    background-color: #D9CE3F;
    color: #E83A14;
    text-align: center;
    margin: 50rem 0 0 0;
}

footer p {
    font-size: 1.4rem;
    color: #E83A14;
}

footer p:hover {
    color: #890F0D;
}